language: cpp
env:
  jobs:
    - OS_TYPE=centos OS_VERSION=8
#dist: bionic
dist: xenial
compiler:
  - gcc
  - clang
os:
  - linux
#ruby: 2.2.0
before_install:
  - ./scripts/dependencies.sh
script:
  - mkdir build && cd build && cmake .. && make
#after_success:
#  - ./scripts/build_support.sh archive_codedb
install:
  - cmake
  - yum
branches:
  only:
    - master
#    - "/^v\\d+\\./"
#env:
#  global:
#    - LANG="en_US.UTF-8"