language: cpp

os:
  - linux

#dist: bionic
dist: xenial

compiler:
  - gcc

#ruby: 2.2.0

#指定构建分支
branches:
  only:
    - master
    - develop

#env:
#  global:
#    - LANG="en_US.UTF-8"

#addons:
#  apt:
#    update: true

before_install:
  - sudo apt-get update
  - sudo apt-get -y install libxml2-dev

#安装依赖
install:
  - echo "install"

#before_script:
#  - ls

script:
  - mkdir build
  - cd build
  - cmake ..
  - make
  - cd ..

#构建成功后，把部署所需的文件都拷贝到 dist 文件夹下
after_success:
  - pwd
  - ls
  - mkdir dist
  - cp build/c_project_for_ci dist/

#afterfailure:
#  - pwd

before_deploy:
  - pwd

deploy:
  # deploy develop to the staging environment
  - provider: script
    script: bash scripts/deploy.sh staging
    on:
      branch: develop
  # deploy master to production
  - provider: script
    script: bash scripts/deploy.sh production
    on:
      branch: master

after_deploy:
  - pwd

after_script:
  - pwd
